<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy4QgjLhu2SNnaZ7Yx2A6nRHwIYxzT0IU</string>
	<key>GCM_SENDER_ID</key>
	<string>508472902252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yesCompany.YesFinancesApp</string>
	<key>PROJECT_ID</key>
	<string>yesfinancesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>yesfinancesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508472902252:ios:418f3519de4b1953a44e49</string>
</dict>
</plist>